body {
    background-color: black;
    height: 100%;
}

header {
    margin: 0 auto;
    padding: 0;
}

.header {
    padding: auto;
    margin: 0 auto 0;
    float: none;
    height: auto;
    min-height: 100px;
    max-height: 275px;
    width: auto;
    max-width: 100%;

}

.landNav {
    width: 100%;
    margin: 0 auto 0px;
}

.quote {
    border-top: solid 1px grey;
    border-bottom: solid 2px grey;
    color: yellow;
    font-variant: small-caps;
    font-size: 1.4em;
    font-weight: bold;
    opacity: 0.6;
    margin: 0 auto;
    padding: 0;
}

.designPhoto {
    height: auto;
    margin-top: 1%;
    max-width: 100%;
    max-height: 400px;
}

.bioPhoto {
    height: auto;
    margin-top: 1.8%;
    max-width: 100%;
    max-height: 400px;
}

.descrip {
    color: yellow;
    font-variant: small-caps;
    font-size: 1.5em;
    font-weight: bold;
    margin: 20px auto;
    opacity: 0.7;
    width: 90%;
}

.gallery {
    color: green;
}

.galImage {
    margin: 0 auto 10px;
}

figure img{
    width: 100%;
    height: auto;
}