body {
    background-color: black;
    height: 100%;
}

header {
    margin: 0 auto;
    padding: 0;
    border-bottom: solid 1px grey;
}

.header {
    padding: auto;
    margin: 0 auto 0;
    float: none;
    height: auto;
    min-height: 100px;
    max-height: 225px;
    width: auto;
    max-width: 100%;

}

.landNav {
    width: 100%;
    margin: 0 auto 0px;
}

.content {
    position: absolute;
    top: 226px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
}

.quote {
    border-bottom: solid 3px grey;
    color: yellow;
    font-variant: small-caps;
    font-size: 1.4em;
    font-weight: bold;
    opacity: 0.6;
    margin: 0 auto;
    padding: 0;
}

.designPhoto {
    height: auto;
    margin-top: 1%;
    max-width: 100%;
    max-height: 400px;
}

.bioPhoto {
    height: auto;
    margin-top: 1.8%;
    max-width: 100%;
    max-height: 400px;
}

.descrip {
    color: yellow;
    font-variant: small-caps;
    font-size: 1.5em;
    font-weight: bold;
    margin: 20px auto;
    opacity: 0.7;
    width: 90%;
}

.gallery {
    color: green;
}

.galImage {
    margin: 0 auto 10px;
}

figure img{
    width: 100%;
    height: auto;
}


@media only screen and (max-width: 500px) {
    .content {
        position: absolute;
        top: 215px;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: scroll;
    }
}

@media only screen and (max-width: 470px) {
    .content {
        position: absolute;
        top: 195px;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: scroll;
    }
}

@media only screen and (max-width: 430px) {
    .content {
        position: absolute;
        top: 180px;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: scroll;
    }
}

@media only screen and (max-width: 413px) {
    .content {
        position: absolute;
        top: 170px;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: scroll;
    }
}

@media only screen and (max-width: 376px) {
    .content {
        position: absolute;
        top: 160px;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: scroll;
    }
}

@media only screen and (max-width: 361px) {
    .content {
        position: absolute;
        top: 148px;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: scroll;
    }
}